<div class="main-container">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" fxLayout.xs="column">
        <div class="set-1" fxFlex="0 0 auto">
            Lorem Ipsum is simply dummy text of the printing.
        </div>
        <div class="set-2" fxFlex="0 0 10%">
            Lorem Ipsum is simply dummy text of the printing.
        </div>
        <div class="sub-2" fxFlex="0 0 auto">
            Lorem Ipsum is simply dummy text of the printing.
        </div>
    </div>
</div>