
// importing globle variables
@import '~app/scss/vars';


@mixin div-block($type) {
  padding: $div-pad;
  color: #ffffff;
  font: {
    font-family: $font-stack;
    size: 20px;
    weight: 500;
  }
  @if($type=='div1') {
    background: $background-color-1;
  }
  @else {
    background: $background-color-2;
  }
}

@mixin div-block-sub($type) {
  padding: $div-pad-sub;
  color: #ffffff;
  margin: 0px;
  font: {
    font-family: $font-stack;
    size: 10px;
    weight: 200;
  }
  @if ($type=='sub1') {
    background: $background-color-sub-1;
  }
  @else {
    background: $background-color-sub-2;
  }
}

div>.set-2 {
  @include div-block('div2');
}

div>.set-1 {
  @include div-block('div1');
}

div>.sub-1 {
  @include div-block-sub('sub1');
}

div>.sub-2 {
  @include div-block-sub('sub2');
}
