.nav-sec {
    padding: 0%;
    margin: -2% 0% 0% 0%;
}

.footer-sec {
    // position: fixed;
    position: absolute;
    bottom: 2px;
    padding: 2%;
    border-top: 1px solid #ddd;
    width: 100%;
}