$background-color:none;
.outlet {
  padding: 0px;
 
}

h2 {
  text-align: center;
}

p {
  padding: 2px 0px 0px 20px;
  color: rgb(52, 171, 214);
}

.nav-path {
 
  float: right;
  padding: 20px 10px 0px 0px;

  a {
    padding: 8px;
    border-right: 1px solid #ddd;
    background-color:none;
    border-radius: 1px;
    width: 300px;
  }
  
}

